* {
  font-family: monospace, Arial, Helvetica, sans-serif;
}

/* landing page */
.header {
  color: #ffe4f5;
  background-color: #f535aa;
  padding: 10px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  text-decoration: none;
  list-style: none;
}

.links {
  gap: 40px;
  display: flex;
  flex: row;
}

a {
  text-decoration: none;
  color: #ffe4f5;
  font-weight: 700;
  font-size: 40px;
}
.links a {
  font-size: 20px;
}

.main {
  background-color: #f535aa;
  padding: 50px 250px;
  gap: 50px;
  display: flex;
  justify-content: space-between;
}

.placeholder {
  position: relative;
}

.mainimg {
  width: 750px;
  height: auto;
  border-radius: 10px;
}

.title {
  color: #f535aa;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
}

.popimg {
  width: 400px;
  height: auto;
  border: 10px solid #f535aa;
  border-radius: 8px;
  margin: 5px;
}

.checkout {
  color:#f535aa;
  font-size: 30px;
  font-weight: 900px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.info {
  gap: 10px;
  display: flex;
  justify-content: center;
}

.option {
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular {
  padding: 10px;
  color: #f535aa;
  font-size: 25px;
}

.testimonials {
  color:#f535aa;
  background-color:#ffe4f5;
  padding: 100px 250px
}

.content, .author {
  font-size: 24px;
  text-align: center;
}

.author {
  font-weight: 700;
  padding: 8px;
} 

.cta {
  background-color: #f535aa;
  padding: 20px;
  margin: 50px 250px;
  border-radius: 20px;
  gap: 20px;
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.sub {
  display: flex;
  justify-content: center;
}

.action {
  color: #f9faf8;
  font-size: 20px;
  text-align: center;
}

button {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  color:#ffe4f5;
  background-color: #f535aa;
  border: 2px solid #f9faf8;
  border-radius: 9px;
  padding: 8px 25px;
}

.footer {
  color: #f535aa;
  background-color: #ffe4f5;
  padding: 15px;
  display: flex;
  justify-content: center
}

button {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  color:#ffe4f5;
  background-color: #f535aa;
  border: 2px solid #f9faf8;
  border-radius: 9px;
  padding: 8px 25px;
}

h1 {
    font-size: 70px;
    color: #f535aa;
}

.cocktailname {
    color: darkmagenta;
}

h2 {
    font-size: 30px;
    color:#ffe4f5;
}

h3 {
    font-size: 26px;
    color: orange;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    color:#f9faf8
}

li {
    color: red;
}

/*
.search-container {
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  justify-self: flex-end;
}
input[type="text"] {
  display: block;
  width: calc(100% - 24px); /*20px [ left & Right ] padding + 4px border [ left & Right ]  
  font-size: 18px;
  font-weight: 600;
  color:#f535aa;
  padding: 10px;
  border: 2px solid white;
} 

*/